<div class='comment-listing-container'>
  <ul class="comment-listing">
    <h2>Comment Section</h2>
    <% if @film.comments.any? %>
      <% @film.comments.each do |comment| %>
    <div class='individual-comment'>
      <p><%= comment.content %><p>
      <small>Written by <%= link_to comment.user.username, user_path(comment.user) %> at <%= comment.created_at.strftime('%F') %></small>
      <% if comment.user == current_user %>
      <div>
        <%= link_to "Delete Comment", film_comment_path(@film, comment),
                                      method: :delete,
                                      # data: { confirm: "Are you sure?" },
                                      # remote: true,
                                      class: "delete-comment button" %>
      </div>
      <% end %>
    </div>
      <% end %>
    <%  end %>
  </ul>
</div>
