<div class='new-comment-button'>
  <li><%= link_to 'Create a New Comment', new_film_comment_path(@film),
                                              class: 'button' %></li>
</div>
<div class='create-new-comment-container'>
</div>
