<div class='reviews-container'>
  <h2 class='section-title'>Review</h2>
  <%= link_to 'View Reviews', film_reviews_path(@film), class: 'button' %>
  <% if logged_in? %>
    <%= link_to 'Write a Review', new_film_review_path(@film), class: 'button' %>
  <% end %>
  <div class='review-listing-container'>
    <div class='featured-review'>
      <% if @film.reviews.any?  %>
        <%= @film.reviews.first.content %>
      <% end %>
    </div>
  </div>
</div>
