<!-- to be centered -->
<h1 class='film-title'><%= @film.title %></h1>

<div id='film-show-container' class='row'>
  <div class='large-3 columns'>
<!-- Image Will go here -->
  <%= image_tag('bergman-poster.jpg') %>
<!-- Reviews will go here -->
    <h2 class='section-title'>Review</h2>
  </div>

  <div class='large-9 columns'>
    <h2>Synopsis</h2>
    <p><%= @film.summary %></p>
    <!-- Link to Create New Comment -> new_film_comment_path -->
    <span class='button'><%= link_to 'Create a New Comment', '' %></span>
    <!-- Synopsis will go here -->
    <!-- Comment box will go here -->
    <!-- Comments index will go here -->
  </div>
</div>


