$black: #000;
$dark-grey: #333;
$grey: gray;
$light-grey: #ebebeb;
$white: #ffffff;
$navy1: #34495e;
$navy2: #2c3e50;

// background colours
$primary-background: $black;
$secondary-background: $dark-grey;

// text colours
$primary-text: $white;
$light-text: $light-grey;
$loud-text: $black;
$heading-text: $white;

// link colours


// primary border properties
$border-color: $light-grey;
$border-size: 3px;
$border-type: solid;
$border-focus: $grey;


// typography
$body-copy: "Roboto Condensed", "Helvetica Neue", helvetica, arial, verdana, sans-serif;
$heading-copy: "Fjalla One", "Helvetica Neue", helvetica, arial, verdana, sans-serif;
$heading-copy-bold: "Fjalla One", helvetica, arial, verdana, sans-serif;
$base-font-size: 18px;
$label-font-size: 24px;
$medium-heading-font-size: 32px;
$large-heading-font-size: 68px;
$font-size: 1em;
$base-line-height: 1.5;

// layout
$margin: 1em;
$padding: 1em;

//round corners radius

$radius: 5px;

// MIXINS

// round corners or Border radius
.round-corners {
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
