<h1 class='new-comment-header'>Create New Film Comment</h1>

  <%= form_for [@film, @comment] do |f| %>
  <div class='row'>
    <div class='medium-6 medium-centered columns'>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>
  </div>

  <div class='row'>
    <div class='medium-6 medium-centered columns'>
      <%= f.submit 'Create Comment', class: 'button' %>
    </div>
  </div>
<% end %>
