<div class='individual-comment'>
  <p><%= comment.content %><p>
  <small>Written by <%= link_to comment.user.username, user_path(comment.user) %> at <%= comment.created_at.strftime('%F') %></small>
  <div>
    <%= link_to "Delete Comment", film_comment_path(@film, comment),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  remote: true,
                                  class: "button delete-comment-button" %>
  </div>
</div>
