<div id="create-new-film-container">
  <h1>Create New Film Comment</h1>
    <%= form_for [@film, @comment] do |f| %>
    <div class='row'>
      <div class='medium-6 medium-centered columns'>
        <%= f.label :content %>
        <%= f.text_field :content %>

        <%= f.submit 'Create Comment', class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
