<div class='review-comment-form'>
  <%= form_for [@review, @comment] do |f| %>
  <div class='row'>
    <div class='medium-6 medium-centered columns'>
      <%= f.label :content, class: 'review-comment-label' %>
      <%= f.text_field :content %>
    </div>
  </div>

  <div class='row'>
    <div class='medium-6 medium-centered columns'>
      <%= f.submit 'Create Comment', class: 'button' %>
    </div>
  </div>
  <% end %>
</div>