<div id="main-content" >
  <div id="video-container">
    <%=video_tag('shrunk.webm', autoplay: true, loop: true, id: 'bgvid')%>

    <%= button_to "index", "", :id => "scroll-down-button" %>
  </div>

  <div id="categories-index-container">

    <div id="featured-films-container" >
      <div id="main-feature" ></div>
        <div id="feature-2" ></div>
        <div id="feature-3" ></div>
        <div id="feature-4" ></div>
        <div id="titles" ></div>
      </div>

      <div id="categories" >
        <div id="column-1" ></div>
        <div id="column-2" ></div>
        <div id="column-3" ></div>
      </div>
      </div
  </div>
</div>



