
#main-content {
  /*position: fixed;*/
  height: 100%;
  width: 100%;
}

#bgvid {
    position: relative;
    display: block;
    top: 42.4rem;
    left: 50%;
    width: 100%;
    height: 100%;
    /*z-index: -100;*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#scroll-down-button{
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: auto;
}

#categories-index-container {
  position: relative;
  display: block;
  top: 15%;
  height: 85%;
  width: 100%;
  background-color: green;
}

#featured-films-container {
  position: relative;
  display: inline-block;
  top: 10rem;
  left: ;
  height: 60%;
  width: 80%;
  background-color: red;
}

#main-feature{
  position: relative;
  display: block;
  background-color: blue;
}

#feature-2 {
  position: relative;
  display: block;
  background-color: purple;
}

#feature-3 {
  position: relative;
  display: block;
  background-color: yellow;
}

#feature-4 {
  position: relative;
  display: block;
  background-color: gray;
}

#titles {
  position: relative;
  display: block;
  background-color: orange;
}

#categories {
  position: relative;
  display: block;
  background-color: aqua;
}

#column-1 {
  position: relative;
  display: block;
  background-color: #ac7339;
}

#column-2 {
  position: relative;
  display: block;
  background-color: #ac7339;
}

#column-3 {
  position: relative;
  display: block;
  background-color: #ff0000;
}






