/*SEARCHBAR ELEMENTS*/

#search-films-label {
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  font-size: 68px;
}

#searchbar-wrapper {

}

#main-content-wrapper {

}

#film-container {
  padding-top: 1%;
  padding-left: 8%;
  display: inline-block;
}

#main-feature-video {
  width: 100%;
}

/*FILM LISTING SIDEBAR CONTENTS*/

#film-listing-sidebar {
  padding-left: 6%;
  display: inline-block;
}

.category-section-header {
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  font-size: 68px;
}

.categories-index-listed-film {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}

.categories-index-listed-film a {
  color: #FFFFFF;
}

/*CATEGORIES INDEX SECTION CONTENTS*/

#categories-index-header {
  text-align: center;
}




