@import "components/_variables.scss";

#comment-listing-container .individual-comment {
  margin-bottom: ($margin * 2);
  padding: $padding;
  background: $grey;
  width: 80%;
  border-radius: $radius;
  // border: $border-color $border-size $border-type;
}

#comment-listing-container h2 {
  margin-bottom: ($margin - 0.5);
}
