@import "components/_variables.scss";

#comment-listing-container .individual-comment {
  margin-bottom: ($margin * 2);
  padding: $padding;
  background: $dark-grey;
  width: 80%;
  border-radius:
}
