h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.film-title {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin-left: 18%;
}

.new-comment-button {
  width: 100%;
  text-align: center;
}

#wrapper {
  max-width: 120%;
}

.comment-listing-container {
  /*background-color: blue;*/
}

.large-3 {
  margin-top: 4%;
}

.large-9 {
  /*background-color: green;*/
  margin-top: 2%;
  padding: 2% 4% 2% 4%;
}

.large-3 {
  /*background-color: yellow;*/
}

/*Column Container for Synopsis*/

.synopsis-container {
  padding-left: 3%;
}

/*SECTION CONTAINIING REVIEWS*/

.section-title {
  padding-top: 8%;
}

/*COMMENT CONTAINER FOR FILM SHOW*/
.comment-listing-container {
  margin-top: 4%;
  margin-left: 4%;
  margin-bottom: 4%;
  width: 90%;
  border-radius: 5px;
  background-color: gray;
  padding-top: 2%;
  padding-left: 6%;
}

.star-rating-text {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
}
