@import "components/_variables.scss";

.footer {
  margin-top: ($margin * 4);
  transition: background-color 1s ease;
  background: $dark-grey;
  text-align: center;
}

.footer:hover {
  background: $light-grey;
}

.footer .large-12 {
  padding: ($padding * 4) 0;
}

.footer i {
  padding: ($padding - 0.5);
  color: $white;
}

.footer i:hover {
  color: $grey;
}
