@import "components/_variables.scss";

.review-form-container h1 {
  margin-left: ($margin * 6.5);
  margin-bottom: ($margin - 0.5);
}

.review-form-container .button {
  margin-top: ($margin * 2);
  margin-left: ($margin * 17);
}
