.registration-header {
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  font-size: 72px;
  position: relative;
  left: 9%;
}

.registration-label {
  color: #FFFFFF;
}

label {
  font-family: 'Roboto Condensed';
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}
