@import "components/_variables.scss";

.reviews-index-container h2 {
  margin-top: ($margin - 0.5);
  margin-bottom: ($margin - 0.5);
}

.reviews-index-container h3 {
  font-size: ($medium-heading-font-size * 1.5);
}

#review-index-content {
  font-size: 20px;
  padding-left: 4%;
}

.review-show-link {
  padding-left: 2%;
}
