<div class="row">
  <div class="large-12 columns">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
  </div>
  <p>&copy; 2016 Timothy Beck, Pietro Martini, Akeem Street, Johnathan Case</p>
</div>
