<div class="review-show-container">
  <div class='row'>
    <div class='medium-4 columns image-column'>
      <div id='film-image-container'>
        <%= image_tag('bergman-poster.jpg') %>
      </div>
    </div>

    <div class='medium-8 columns review-column'>

      <%= render partial: "review_section" %>

      <%= render partial: "comments_section" %>
      
    </div>
  </div>
</div>
